*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 60px;
    background-color: rgb(16, 0, 165);
    font-weight: bold;
    color: white;
    box-shadow: 0 0 9px 0 black;
    position: sticky;
    top: 0;
    z-index: 2;
}
body{
    font-family:  Helvetica;
    background-color: rgb(202, 198, 255);
}

.pmf {
    float:left;
    font-size: 20px;
    font-weight: normal;
    margin: 17px 0 0 30px;
    text-shadow: 1px 1px black;

}

.e{
    text-align: center;
    margin: auto;
    width: 200px;
    font-size: 25px;
}

.e p{
    padding-top: 15px;
    text-shadow: 2px 2px black;
}

.ime{
    float: right;
    font-weight: normal;
    font-size: 20px;
    margin-right:80px ;
    margin-top: -30px;
    padding: 5px;
    text-shadow: 1px 1px black;
}

.ime img{

    width: 35px;
    position: relative;
    z-index: 1;
    left:10px;
    bottom:-10px;
}

.dropbtn {
	background-color:  rgb(0, 11, 165);
	color: white;
	cursor: pointer;
	font-size: 20px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	margin-top: -30px;
	margin-right: -60px;
	
}

/*  NAVIGACIJA */ 

.nav{
    width: 80%;
    height: 50px;
    font-family: Helvetica;
    margin: 30px auto 0 auto;
    background-image: linear-gradient(to top, rgb(36, 39, 231),rgb(83, 71, 245),rgb(96, 152, 255),rgb(64, 131, 255),rgb(88, 54, 240));
    border-radius: 10px 10px 0 0;
    text-align: center;
    text-shadow: 1px 1px blueviolet;
    padding:10px;
    font-weight: bold;
    text-align: center;

}


.nav li{
    display: inline-block;
    color:white;
    font-size: 25px;
    margin:6px auto;
    
}



/*   MAIN */

.main{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 81%;
    height: 70vh;
    border-radius: 0 0 10px 10px;

    background-color: rgb(235, 246, 255);
}

.predmeti p{
    font-size: 22px;
    margin: 0px auto 10px 20px;
    padding-top: 10px;

}

.upisani{
    background-color: rgb(235, 246, 255);
    width: 90%;
    border-radius: 10px;
    margin: 35px auto;
    height: 100vh;
}

.main1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 81%;
    height: 350vh;  
    border-radius: 0 0 10px 10px;

    background-color: rgb(235, 246, 255);
}
.ispiti p{
    font-size: 22px;
    margin: 0px auto 10px 20px;
    padding-top: 10px;

}

.polozeni{
    background-color: rgb(235, 246, 255);
    width: 90%;
    border-radius: 10px;
    margin: 35px auto;
    height: 100vh;
    

}
.polozeni2 {
    background-color: rgb(235, 246, 255);
    border-radius: 10px;
    margin:700px auto;
    height: 100vh;

}

.Pocetna p{
    font-size: 22px;
    margin: 0px auto 10px 20px;
    padding-top: 10px;

}

.account{
    background-color: rgb(198, 211, 255);
    width: 90%;
    border-radius: 10px;
    margin: 35px auto;
    height: 56vh;
    

}

.deo1{
    background-color: rgb(93, 138, 197);
    width: 40%;
    height: 40px;
    border-radius: 10px 10px;
    margin: auto;
    position: relative;
    top:-20px;
    text-align: center;

    border: 2px solid rgb(220, 219, 255);
}

.deo11{
    background-color: rgb(93, 138, 197);
    width: 100%;
    height: 40px;
    border-radius: 10px 10px;
    margin: auto;
    position: relative;
    top:-20px;
    text-align: center;
    border: 2px solid rgb(220, 219, 255);
}

.deo1 p{
    color: white;
    padding-top: 7px;
    font-size: 20px;
    text-shadow: 2px 1px rgb(78, 78, 78);
}
.deo11 p{
    color: white;
    padding-top: 7px;
    font-size: 20px;
    text-shadow: 2px 1px rgb(78, 78, 78);
}


.klasa2 .im1{
    width: 30px;

}
.klasa2 .im2{
    width:40px;
    position: relative;
    top:4px;
}

.klasa1{
    
    padding-top: 25px;
    text-align: center;
    font-size: 18px;

}

.klasa1 .ime2{

    font-size: 25px;
    font-weight: bold;
}

.im3{
    width:30px;
}
.im4{
    width: 30px;
}

/*  drugi deo       */

.podaci{
    background-color: rgb(198, 211, 255);
    width: 81%;
    border-radius: 10px;
    margin: 10px auto;
    height: 30vh;
    font-size: 19px;
    padding:  29px 60px;
}


/* submit */

.dugme {
  background-color: rgb(109, 93, 197);	
  border: none;
  border-radius: 2px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-shadow: 2px 1px rgb(78, 78, 78);
}

.dugme:hover {
	background-color: rgba(28, 218, 193, 0.733);
	cursor: pointer;
}
table, th, td {
	border: 2px solid #d05db4;
	border-collapse: collapse;
}

/*Tabele*/

table,thead,tbody {
        margin-left: auto;
        margin-right: auto;
	font-size:15px;
	background-color: transparent;
        width:900px; 
        height:300%;
	text-align: center; 
	vertical-align: middle;
}

.th {  
height:35px; 
text-align: center; 
vertical-align: middle;
background-color: snow;
}

.td {
padding:10px;
text-align: center; 
vertical-align: middle; 
background-color: transparent;
}
