<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="elektronska prijava ispita">
    <meta name="keywords" content="eIndeks ocene">
    <meta name="author" content="Group of students">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Studentski portal | eINDEKS </title>

    <link rel="stylesheet" href="css_password.css">

    <style>

    </style>

</head>
<body>

<header>
    <div class="pmf">
        <p><a href="https://www.pmf.kg.ac.rs/" style="text-decoration: none;color: white">PMF Kragujevac</a></p>
    </div>
    <div class="e">
        <p>E - INDEKS </p>
    </div>
    <div class="ime">
        <div class="dropdown">
            <button class="dropbtn" style="position: relative; left: -40px" ></button>
            <img src="images/acc.png" style="float:right; position: relative; bottom: 4px; left: 20px;">  <!-- th:text="${ime} + ' ' + ${prezime}" -->
        </div>
    </div>
</header>


<div class="nav">
    <ul>
        <li>Promena lozinke</li>

    </ul>
</div>


<div class="main">
    <div class="Pocetna">
        <p> </p>
    </div>
    <div class="account">
        <div class="deo1">
            <p>
                Promena
            </p>
        </div>
        <div class="klasa1">

            <form th:action="@{/lozinka}" th:object="${forgottenPassDTO}" method="post">
                <label for="fname">Unesite vas username:</label><br>
                <input type="text" id="fname" name="fname" th:field="*{username}"><br>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" id="btn">
                        Prosledi
                    </button>
                </div>


            </form>


        </div>
    </div>


</div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>



</body>

</html>
