<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="elektronska prijava ispita">
    <meta name="keywords" content="eIndeks ocene">
    <meta name="author" content="Group of students">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Studentski portal | eINDEKS </title>

    <link rel="stylesheet" href="css1.css">

    <style>
        .button{
            background-color: #3cff3c;

        }
        .button:hover{
            background-color: #8bfd72;
        }
        .visited{
            background-color: #ff2b2b;
        }



    </style>

</head>
<body>

    <header>
        <div class="pmf">
            <p><a href="https://www.pmf.kg.ac.rs/" style="text-decoration: none;color: white">PMF Kragujevac</a></p>
        </div>
        <div class="e">
            <p>E - INDEKS </p>
        </div>
        <div class="ime">
			<div class="dropdown">
                <button class="dropbtn" th:text="${ime} + ' ' + ${prezime}" style="position: relative; left: -40px" ></button>
                <img src="images/acc.png" style="float:right; position: relative; bottom: 4px; left: 20px;">  <!-- th:text="${ime} + ' ' + ${prezime}" -->
				<div class="dropdown-content">
					<a href="/forgottenpassword">Promena lozinke</a>
					<a href="/indexlogin">Odjava</a>
				</div>
			</div>
        </div>
    </header>

    
        <div class="nav">
            <ul>
                <li><a href="/index" class="curr">Pocetna strana</a></li>
                <li><a href="/ispiti">Ispiti </a></li>
                <li><a href="/eprijava">E-prijava </a></li>
                <li><a href="/predmeti">Predmeti </a></li>
                <li><a href="/finansije">Finansije </a></li>
            </ul>
        </div>
    

    <div class="main">
        <div class="Pocetna">
           <p> </p>
        </div>
        <div class="accounttt">
            <div class="deo1">
                <p>
                 Prijava ispita
                </p>
            </div>
            <div class="klasa1">
               
                <table class="table table-bordered table-striped tabelaklasa" >
                    <tr>
                        <th>ID predmeta</th>
                        <th>Sifra predmeta</th>
                        <th>Naziv predmeta</th>
                        <th>espb</th>
                        <th>ID predavaca</th>
                        <th> </th>
                    </tr>

                    <tr th:each="data : ${listaPredmeta}">
                        <td th:text="${data.idpredmeta}" class="odvoji"></td>
                        <td th:text="${data.sifrapredmeta}" class="odvoji"></td>
                        <td th:text="${data.nazivpredmeta} "class=odvoji></td>
                        <td th:text="${data.espb}" class="odvoji"></td>
                        <td th:text="${data.idpredavaca}" class="odvoji"></td>
                        <td>
                            <form th:action="@{/prijaviispit/(sifrapredmeta=${data.sifrapredmeta})}" th:object="${predmetiPrijavaDTO}" method="post">
                                <button class="button" type="submit" name="submit"  onclick="onClick(this)">&nbsp PRIJAVI &nbsp</button>
                            </form>

                        </td>
                    </tr>
                </table>
            </div>

        </div>
                <p></p>
    </div>


<script>
    function onClick(event) {
        event.className = "visited";

    };
</script>

</body>

</html>
