<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="elektronska prijava ispita">
    <meta name="keywords" content="eIndeks ocene">
    <meta name="author" content="Group of students">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Studentski portal | eINDEKS </title>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->

    <link rel="stylesheet" href="css_admin.css">

    <style>
        .sec1{
            width:500px;
            margin: auto;
            align-items: center;
        }

        .sec2{
            text-align: center;
        }
        .account2{
            background-color:   rgb(160, 226, 195);
            width: 90%;
            border-radius: 10px;
            margin: 35px auto;
            height: 47vh;

        }
        .main{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
            width: 81%;
            height: 60vh;
            border-radius: 0 0 10px 10px;

            background-color: rgb(238, 255, 235);
        }

        .tabelaklasa{

            margin-left: -190px;
            background-color: #e5ffe7;
        }


    </style>


</head>
<body>

<header>
    <div class="pmf">
        <p>PMF Kragujevac</p>
    </div>
    <div class="e">
        <p>E - INDEKS </p>
    </div>
    <div class="ime">
        <div class="dropdown">
            <button class="dropbtn" >Admin  <img src="images/acc.png"> </button>
            <div class="dropdown-content">

                <a href="/indexlogin">Odjava</a>
            </div>
        </div>
    </div>
</header>


<div class="nav">
    <ul>
        <li><a href="/admin">Pocetna strana</a></li>
        <!--<li><a href="/ispiti">Ispiti </a></li>
        <li><a href="/eprijava">E-prijava </a></li>
        <li><a href="/predmeti">Predmeti </a></li>
        <li><a href="/finansije">Finansije </a></li>-->
        <li><a href="/indeksregister">Dodaj studente</a></li>
        <li><a href="/brisanje" class="curr">Brisanje</a></li>
        <!-- <li><a href="/dodajpredmete">Dodaj Predmete </a></li>-->
        <li><a href="/dodajprofesore">Dodaj Profesore </a></li>
        <li><a href="/ispisiprofesore">Prikazi profesore </a></li>
        <li><a href="/updateprofesora"> update </a></li>
    </ul>
</div>


<div class="main">
    <div class="Pocetna">
        <p></p>
    </div>
    <div class="account2">
        <div class="deo1">
            <p>
                Prikaz profesora
            </p>
        </div>
        <div class="klasa1">

            <div class="sec1">

                <div class="sec2">

                    <table class="table table-bordered table-striped tabelaklasa" >
                        <tr>

                            <th>ID predavaca</th>
                            <th>Ime</th>
                            <th>prezime</th>
                            <th>username</th>
                        </tr>
                        <tr th:each="data : ${listaProfesora}">
                            <td th:text="${data.idpredavaca}" class="odvoji"></td>
                            <td th:text="${data.ime}" class="odvoji"></td>
                            <td th:text="${data.prezime} "class=odvoji></td>
                            <td th:text="${data.username}" class="odvoji"></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>



</div>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

<!--<script src="prikazprofesoraa.js"></script>-->

</body>

</html>

<!--
<script>

    tabledata = jQuery.getJSON("profesor.json",function(data){

        //console.log(data);

    for(var i in data)
    {
        var row = `<tr>
              <td>${data[i].idpredavaca}</td>
              <td>${data[i].ime}</td>
              <td>${data[i].prezime}</td>
              <td>${data[i].username}</td>
              <td>${data[i].password}</td>
              </tr>`

              var table = $('#tabela')

              table.append(row);

    }

    });


</script>

-->